{% extends 'main.html' %}
{% load static %}
{% load time_since %}
{% block content %}

<style>
  .link-button{
      background: none!important;
      border: none;
      padding: 0!important;
      /*optional*/
      /*input has OS specific font-family*/
      color: #212529;
      text-decoration: none;
      cursor: pointer;
  }

  #imageDisplay{
        height: 350px;
        overflow: auto;
  }

  .user-name{
    margin-top: 130px;
  }

  @media (max-width: 979px) {
    .user-name{
      margin-top: 110px;
    }
  }

  #postDisplay{
          max-height: 200px;
          overflow: auto;
          /*box-shadow: 0 8px 5px -2px #ccc;*/
  }
  
</style>


<div class="container py-lg-3">
  <div class="row">

    <div class="col-sm-2">
    </div>

    <div class="col align-items-center px-0">
      <div class="shadow">

        <!--Header-->
        <div>
          <div class="link-hover-black  text-white d-flex flex-row" style="height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <button type="button" class="link-button" data-bs-toggle="modal" data-bs-target="#ImageModal">
              <img src="{%if user.profile.profile_pic%}{{user.profile.profile_pic.url}}{%endif%}"
                alt="Profile picture" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1; height: 150px">
              </button>
                
                <div class="d-flex justify-content-between align-items-center">
                {% if request.user.is_authenticated %}
                {% if request.user == user %}
                <div class="">
                  <a type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                    style="z-index: 1;" href="{% url 'update-user' %}">
                    Edit profile
                  </a>
                </div>
                {%else%}
                    {% if ifollowed == False %}
                    <div class="">
                        <form action="" method=POST>
                          {% csrf_token %}
                            <button type="submit" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">
                              Follow
                            </button>
                        </form>
                    </div>
                    {% elif ifollowed == True %}
                    <div class="">
                      <form action="" method=POST>
                        {% csrf_token %}
                          <button type="submit" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">
                            Unfollow
                          </button>
                      </form>
                    </div>
                    {% endif %}
                    
                    <div class="">
                      <a class="btn btn-primary bg-own-dark ms-2" href="{% url 'chat-user' user.id %}">Message</a>
                    </div>
                {% endif %}
                {% endif %}

                </div>
            </div>
            
            <div class="ms-3 user-name">
              <a href="{%url 'user-profile' user.id %}" class="text-decoration-none text-white"><h5>{{user.first_name}} {{user.last_name}}</h5></a>
              <a href="{%url 'user-profile' user.id %}" class="text-decoration-none text-white"><p>@{{user.username}}</p></a>
            </div>
          </div>

          <!--Buttons-->
            <div class="p-1 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-lg-end ms-4 text-center py-1 justify-content-md-around {% if request.user.is_authenticated %} profile-info {% else %} profile-info-addons {% endif %}">
                <a href="{% url 'owned-groups' user.id %}" style="text-decoration: None;" class="text-dark">
                  <div class="link-hover-grey border-radius-10 p-3">
                    <p class="mb-1 h5">{{all_groups|length}}</p>
                    <p class="small text-muted mb-0">Groups</p>
                  </div>
                </a>
                <a href="{% url 'followers' user.id %}" style="text-decoration: None;" class="text-dark">
                  <div class="link-hover-grey border-radius-10 p-3">
                    <p class="mb-1 h5">{{followers|length}}</p>
                    <p class="small text-muted mb-0">Followers</p>
                  </div>
                </a>
                <a href="{% url 'following' user.id %}" style="text-decoration: None;" class="text-dark">
                  <div class="link-hover-grey border-radius-10 p-3">
                    <p class="mb-1 h5">{{following|length}}</p>
                    <p class="small text-muted mb-0">Followings</p>
                  </div>
                </a>
              </div>
            </div>
          <!------------>
        </div>
        <!---------------->


        <!--Main Content-->
        <div class="card-body p-4 text-black bg-white">
          {% if user.profile.bio %}
          <div class="mb-5">
            <p class="lead fw-normal mb-1">About</p>
            <div class="p-4" style="background-color: #f8f9fa;">
              <p class="font-italic mb-1">
                
                {% if user.profile.bio != None%}
                
                {{user.profile.bio|linebreaks}}</p>

                {% endif %}
            </div>
          </div>
          {% endif %}

          {% if group_posts %}
          <div class="d-flex justify-content-between align-items-center mb-4">
            <p class="lead fw-normal mb-0">Recent Posts</p>
          </div>
          {% endif %}
          {% for post in group_posts|slice:":10" %}
          <div class="my-4 pb-2" style="border-bottom: #eee 1px solid;">
            <a href="{% url 'user-profile' post.user.id %}"><img src="{%if post.user.profile.profile_pic%}{{post.user.profile.profile_pic.url}}{%endif%}" class="img-fluid ml-0 mt-1 rounded-circle" style="width: 60px; height: 60px;"></a>
              {% if request.user == post.user %}
              <!--Delete Functionality-->
              {% endif %}
              <small class="ms-1 mt-2"><a href="{% url 'user-profile' post.user.id %}" class="text-decoration-none text-own-dark">{{post.user.get_full_name}}</a>・{{post.created|time_since}}</small><br>
              <div class="my-2" id="postDisplay">
                <p>{{post.body|linebreaks}}</p>
              </div>
              {% if post.image %}
              <img class="mb-3" src="{%if post.image%}{{post.image.url}}{%endif%}" style="height: 50%; width: 50%">
              {% endif %}
              <p><small>Posted on <a href="/group/{{post.group.id}}/#{{post.group.title}}-{{post.user.username}}-{{post.id}}" class="text-decoration-none text-own-dark">{{post.group}}</a></small></p>
          </div>
          {% endfor %}
        </div>
        <!------------------------->


      </div>
    </div>

    <div class="col-sm-2">
    </div>

  </div>
</div>

<!-- Image Modal -->
<div class="modal" id="ImageModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body d-flex justify-content-center pt-4" id="imageDisplay">
        <img class="" src="{%if user.profile.profile_pic%}{{user.profile.profile_pic.url}}{%endif%}" style="width: 300px; height: 300px">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!------------------------>

<script>
  function autoExpand(textarea) {
      // Reset the textarea's height to the default value
      textarea.style.height = 'auto';

      // Set the textarea's height to the scroll height, so it expands as the user types
      textarea.style.height = `${textarea.scrollHeight}px`;
  }
</script>


{% endblock content %}