{% extends 'main.html' %}
{% load static %}
{% load time_since %}
{% block content %}

<section class="h-100 gradient-custom-2">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-7">
        <div class="card shadow">
          <div class="rounded text-white d-flex flex-row bg-own-light" style="background-color: #000; height:90px;">
            <div class="ms-4 mt-4 d-flex flex-column" style="width: 200px;">
              <h2>Messages</h2>
              <hr>
            </div>
            </div>
            <div class="card-body p-4 text-black bg-white">
              {% for chatter in chatters %}
                <div class="my-4 pb-2" style="border-bottom: #eee 1px solid;">
                    <div class="d-flex">
                      <a href="{% url 'chat-user' chatter.id %}"><img src="{%if chatter.profile.profile_pic%}{{chatter.profile.profile_pic.url}}{%endif%}" class="img-fluid ml-0 mt-1 rounded-circle" style="width: 60px; height: 60px;"></a>
                    
                      <div class="ms-2 mt-2">
                        <small><a href="{% url 'chat-user' chatter.id %}" class="text-decoration-none text-own-dark">{% if chatter.full_name %}{{chatter.get_full_name}}{%else%}@{{chatter.username}}{%endif%}</a></small>
                        <br>
                        <small class="text-muted">
                        
                          {% if last_received_messages %}
                          {% if last_sent_messages %}
                            {% if last_received_messages.0.created > last_sent_messages.0.created %}
                              {% if last_received_messages.0.user == chatter %}
                                {{ last_received_messages.0.message }}
                              {% else %}
                                {{ last_sent_messages.0.message }}
                              {% endif %}
                            {% else %}
                              {% if last_sent_messages.0.receiver == chatter %}
                                {{ last_sent_messages.0.message }}
                              {% else %}
                                {{ last_received_messages.0.message }}
                              {% endif %}
                            {% endif %}
                          {% else %}
                            {% if last_received_messages.0.user == chatter %}
                              {{ last_received_messages.0.message }}
                            {% else %}
                              No messages available.
                            {% endif %}
                          {% endif %}
                        {% elif last_sent_messages %}
                          {% if last_sent_messages.0.receiver == chatter %}
                            {{ last_sent_messages.0.message }}
                          {% else %}
                            No messages available.
                          {% endif %}
                        {% else %}
                          No messages available.
                        {% endif %}
                        
                        
                        </small>
                      </div>
                </div>
              {% endfor %}
              {% if chatters|length == 0 %}
                <small>No current chat</small>
              {% endif %}
            </div>
          </div>
      </div>
    </div>
  </div>
</section>









{% endblock content %}