{% extends 'main.html' %}
{% load static %}
{% block content  %}

<style>

.image-container{
    width: 50%; /* or any other value smaller than the original width */
    height: 50%; /* or any other value smaller than the original height */
}

.custom-file-upload input[type="file"] {
    display: none;
}
.custom-file-upload {
    background-color: #fff;
    color: #000;
    border: 1px solid #2364aa;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
}

.custom-file-upload:hover{
  background-color: #2364aa;
  color: #fff
}


</style>
<section class="h-100 gradient-custom-2">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-7">
        <div class="card shadow">
          <div class="rounded text-white d-flex flex-row bg-own-light" style="background-color: #000; height:90px;">
            <div class="ms-4 mt-4 d-flex flex-column" style="width: 200px;">
              <h2>Create Group</h2>
              <hr>
            </div>
            </div>
            <div class="card-body p-4 text-black bg-white">
                  <form method="post" enctype="multipart/form-data">
                      <img id="current-image" src="{%if group.image%}{{ group.image.url }}{%else%}{% static 'images/group-image.png' %}{%endif%}" class="img-fluid rounded-circle border" style="width: 200px; height: 200px;">
                      <br>
                      <label for="image-upload" class="custom-file-upload my-3">
                        Select an image
                        <input id="image-upload" type="file" name="image" class="form-control w-50">
                      </label>     
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="id_title">Title</label>
                          {{ form.title }}
                      </div>
                      <div class="mb-3">
                          <label for="id_topic">Topic</label>
                          <input list="topic-list" id="id_topic" name="topic" class="form-control">
                          <datalist id="topic-list">
                            {% for topic in topics %}
                              <option value="{{ topic.name }}">
                            {% endfor %}
                          </datalist>
                      </div>
                      <div class="mb-3">
                          <label for="id_description">Description</label>
                          {{ form.description }}
                      </div>
                      <div class="mb-3">
                          <label for="id_group_type">Group Type</label>
                          {{ form.group_type }}
                      </div>
                      <br>
                      <div class="btn-group">
                          <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-dark">Go Back</a>
                          <button type="submit" class="btn btn-primary bg-own-light">Create</button>
                      </div>
                  </form>

              </div>
          </div>
      </div>
    </div>
  </div>
</section>


<script>
  $(document).ready(function() {
      // Add an event listener to the file input element
      $('#image-upload').on('change', function() {
          // Retrieve the new image file
          var newImageFile = $(this).prop('files')[0];
          if (newImageFile) {
              // Create a new image URL using the File API
              var newImageUrl = URL.createObjectURL(newImageFile);
              // Update the current image element with the new image URL
              $('#current-image').attr('src', newImageUrl);
          }
      });

      $('#id_topic').on('input', function() {
          const query = $(this).val();
          if (query.length > 1) {
              fetch(`/suggest-topics/?term=${encodeURIComponent(query)}`)
                  .then(response => response.json())
                  .then(data => {
                      let dataList = $('#topic-list');
                      dataList.empty();
                      data.forEach(topic => {
                          dataList.append(`<option value="${topic}">`);
                      });
                  });
          }
      });
  });
</script>


{% endblock content %}



<!--
<script src="https://cdn.jsdelivr.net/npm/cropperjs@1.5.6/dist/cropper.min.js"></script>

<script>

document.querySelector('input[type="file"]').addEventListener('change', function() {
  var reader = new FileReader();
  reader.onload = function(e) {
    document.getElementById('image').src = e.target.result;
  };
  reader.readAsDataURL(this.files[0]);
});
</script>

<script>
  var image = document.getElementById('image');
  var input = document.getElementById('cropped-image');
  

  image.addEventListener("load", function() {
  var cropper = new Cropper(image, {
    aspectRatio: 1,
    minCropBoxWidth: 300, // specify the desired width
    minCropBoxHeight: 300, // specify the desired height
    crop(event) {
      input.value = cropper.getCroppedCanvas().toDataURL();
    }
  });
});
</script>
-->

</file>
</file>
</file>
