{% load static %}
<div class="col-lg-5 mb-5 order-lg-1">



    <a href="{% url 'group-page' %}" class="text-decoration-none text-own-black"><h3 class="fw-bold">Explore Groups</h3></a>



    <small><i>{{group_count}} groups available</i></small>


    {% for group in groups|slice:"20" %}
        <div class="container p-3 my-3 bg-white border" style="border-radius: 10px;">
            <div class="row align-items-center">
                <div class="col-sm-3 mb-2">
                    <a href="{% url 'group' group.id %}" class="text-decoration-none link-dark">
                        <img class="" src="{%if group.image%}{{group.image.url}}{%endif%}" style="border-radius: 50%;" width="100px" height="100px">
                    </a>
                </div>
                <div class="col-lg-8 ps-lg-2 pt-1 ps-4">
                    {% if request.user == group.host %}
                    <div class="container mb-2 ps-0">
                        <a href="{% url 'update-group' group.id %}" class="text-decoration-none">


                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4A7CBF" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg>

                        </a>
                        <a href="{% url 'delete-group' group.id %}" class="text-decoration-none m-sm-3">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4A7CBF" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </div>
                    {% endif %}
                    <h4><a href="{% url 'group' group.id %}" class="text-decoration-none link-dark link-hover-underline">{{group.title}}</a></h4>
                    <a href="{% url 'home'%}?q={{group.topic.title}}" class="text-muted text-decoration-none"><small>{{group.topic.title}}</small></a>
                    <p><small class="text-muted">{{group.participants.count}} followers</small></p>
                </div>
            </div>
        </div>

    {% endfor %}

    {% if groups|length > 10 %}
    <a href="{% url 'group-page' %}" class="btn btn-primary bg-own-dark">More Groups</a>
    {% endif %}


</div>